@import "milligram";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --primary: #fe058a;
  --mg-color-dark: #000000;
  --mg-color-light: #fcfcfc;
  --mg-color-initial: #ffffff;
  --mg-color-primary: #9b4dca;
  --mg-color-secondary: #302f2f;
  --mg-color-tertiary: #797979;
  --mg-color-quaternary: #a7a7a7;
  --mg-color-quinary: #dadada;
  --mg-control-radius: 0.4rem;
  --mg-input-radius: 0.1rem;
  --mg-color-red: #dc3545;
  --mg-color-orange: #fd7e14;
  --mg-color-blue: #007bff;
  --mg-color-green: #28a745;
  --mg-control-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.15);
}
body {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(60deg ,#630b8f,var(--primary));
}
.invisible-absolute-left {
  position: absolute;
  left: -9999px;
  width: 10px;
  padding: 0;
  margin: 0;
}
.block {
  width: 100%;
}
.button.button-outline {
  color: #ffffff;
}
.mg {
  &-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    backface-visibility: hidden;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    & > .mg-modal--content {
      background-color: var(--mg-color-initial);
      border-radius: var(--mg-control-radius);
      color: var(--mg-color-secondary);
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      z-index: 2000;
      box-shadow: var(--mg-control-shadow);
    }
    &--closebtn {
      color: var(--mg-color-secondary);
      float: right;
      font-size: 2.5em;
      line-height: 1em;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  &-icon-close::after {
    content: "\D7";
  }
  &-show {
    opacity: 1;
    visibility: visible;
  }
}
a:focus, a:hover {
  color: #212121;
}
// .container {
//   height: 100%
// }
.qr-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr {
  padding: 20px;
  display: block;
  width: 330px !important;
  color: inherit;
  text-decoration: none;
  h1 {
    width: 100%;
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
  }
  .count {
    width: 100%;
    font-size: 4em;
    text-align: right;
    font-weight: bold;
  }
}
.qr {
  /* background: rgba(0,0,0,0.05); */
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
  /* box-shadow: 0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3); */
}
.qr-container {
    box-sizing: content-box;
}
.hash-tags {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  &-main {
    font-size: 4em;
    font-weight: 900;
  }
}
.show-qrtc {
  .qr {
    display: none;
  }
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  .qr h1 {
    font-size: 4em;
  }
  .qr {
    width: 400px !important;
  }
  .show-qrtc {
    .qr {
      display: inline-block;
      width: 300px !important;
    }
  }
}

@media print {
  .qr {
    filter: none;
  }
}
