/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
 :root {
  --primary: #fe058a;
 }
body {
  font-family: "Open Sans", sans-serif;
	margin: 0;
  height: 100vh;
  background: linear-gradient(60deg ,#630b8f,var(--primary));
}
.container {
  height: 100%
}
.qr-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr {
  padding: 20px;
  display: block;
  /* background: rgba(0,0,0,0.05); */
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
  /* box-shadow: 0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3); */
  width: 330px !important;
  color: inherit;
  text-decoration: none;
}
.qr h1 {
  width: 100%;
  font-size: 3.2em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
.qr .count {
  width: 100%;
  font-size: 4em;
  text-align: right;
  font-weight: bold;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  .qr h1 {
    font-size: 4em;
  }
  .qr {
    width: 400px !important;
  }
}
