<div class="container">
  <div class="qr-container">
    <%= form_with model: @location do |f| %>
      <label for="number">Number</label>
      <input id="number" name="number" type="text" />
      <%= f.submit "generate" %>
    <% end %>
  </div>
</div>
