<div class="container">
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <h1>QRTC.art</h1>
      <p class="tagline">Local Street Art Connect, Dicover and Appreciate</p>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <button
        class="button block"
        data-toggle="modal"
        data-target="modal-find-next"
      >Discover</button>
      <button
        class="button block"
        data-toggle="modal"
        data-target="modal-pay-artist"
      >Appreciate</button>
      <button
        class="button block"
        data-toggle="modal"
        data-target="modal-connect"
      >Connect</button>
    </div>
    <div class="column"></div>
  </div>
</div>

<div class="container">
  <div class="mg-modal" id="modal-find-next">
    <div class="mg-modal--content container">
      <span class="mg-modal--closebtn mg-icon-close"></span>
      <h3>Discover</h3>
                      <div class="row">
      <div class="column"></div>
      <div class="column">
        <h1>QRTC.art</h1>
        <p class="tagline">Local Street Art Connect, Dicover and Appreciate</p>
      </div>
      <div class="column"></div>
    </div>
    <!-- comment -->
    </div>
  </div>
  <div class="mg-modal" id="modal-pay-artist">
    <div class="mg-modal--content container">
      <span class="mg-modal--closebtn mg-icon-close"></span>
      <h3>Appreciate</h3>
    <!-- comment -->
    </div>
  </div>
  <div class="mg-modal" id="modal-connect">
    <div class="mg-modal--content container">
      <span class="mg-modal--closebtn mg-icon-close"></span>
      <h3>Sign Up! to QRTC</h3>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleModal(event) {
    var modal = document.querySelector(`#${event.target.dataset.target}`) ||
      document.querySelector(".mg-show");
    // if(event.target.classList && event.target.classList.contains("mg-show")) {
    //   console.log("yes")
    // }
    // TODO: work out how to close the modal if only the outer div is clicked and NOT the contents of the div
    modal.classList.toggle("mg-show")
    document
      .querySelectorAll(".mg-show")
      .forEach(element => element.addEventListener("click", toggleModal));
  }

  document
    .querySelectorAll("[data-toggle=modal]")
    .forEach(element => element.addEventListener("click", toggleModal));

  document
    .querySelectorAll(".mg-modal--closebtn")
    .forEach(element => element.addEventListener("click", toggleModal));

</script>

<script>
  function copy() {
    var copyText = document.querySelector("#input");
    copyText.select();
    document.execCommand("copy");
  }

  document.querySelector("#copy").addEventListener("click", copy);
</script>