<div class="container">
  <% @locations.each_with_index do |location, index| %>
    <% if index % 2 == 0 %>
      <div class="row" style="margin-bottom: 4em;">
    <% end %>
      <div class="column">
        <div class="qr-container">
          <a href="<%= location.url %>" class="qr">
            <h1>QRTC.ART</h1>
            <div class="qr-code">
              <%= location.qr_svg %>
            </div>
          </a>
        </div>
      </div>
    <% if index % 2 != 0 %>
      </div>
    <% end %>
  <% end %>
</div>