<div class="container">
  <div class="row show-qrtc">
    <div class="column column-50 hash-tags">
      <%= @location.name.inspect %>
      <div class="hash-tags-main">#<%= @location.code %></div>

      #QRTC #QRTC.art #ARTC
      <div class="count">Count: <%= @count %></div>
    </div>
    <div class="column column-50 hash-tags">
      <div class="qr">
          <%= @qr_svg %>
      </div>
    </div>
  </div>
</div>
