<div class="container">
  <div class="qr-container">
    <a href="<%= @url.to_s %>" class="qr">
      <h1>QRTC.ART</h1><div class="qr-code">
        <%= @qr_svg %>
      </div>
      <div class="count"><%= @count %></div>
    </a>
  </div>
</div>
